body {
  margin: 0;
  padding: 0;
  background-color: #071224;
}

#welcome {
  text-align: center;
  display: block;
  padding: .5em;
  font-size: 3vw;
  color: white;
  opacity: 0;
  animation: fadeInSlow 5s ease-in 1 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeInSlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#subText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  color: white;
}

nav {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 14em;
}

nav ul {
  list-style-type: none;
  padding: 0; 
  margin: 0;
  display: flex; 
  justify-content: space-around; 
}

nav li {
  display: inline; 
}

nav a {
  text-decoration: none; 
  color: grey; 
  padding: 1em 1.5em;
}

nav a:hover {
  color: lightblue;
  font-weight: bold;
}

.intro {
display: flex;
justify-content: center;
color: lightslategray;

}

.title {
  display: flex;

}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.logo {
  display: flex;
  width: 15rem;
  align-items: center;
  justify-content: center;
  animation: spin 2s linear;
  transform-style: preserver-3d;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  perspective: 62.5em;
}