body {
    margin: 0;
    padding: 0;
    background-color: #071224;
  }

  nav {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 14em;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex; 
    justify-content: space-around; 
  }
  
  nav li {
    display: inline; 
  }
  
  nav a {
    text-decoration: none; 
    color: grey; 
    padding: 1em 1.5em;
  }
  
  nav a:hover {
    color: lightblue;
    font-weight: bold;
  }

  .buildOut {
      display: grid;
      align-content: center;
      justify-content: center;
      margin-top: 6em;
      color: white;
    }

    .instructions {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
    }